<h1 align="center">Please Checkout for Accessing website</h1>

<h2  align="center">If you just want to Donate then <%= link_to 'Click here',new_course_path,style: 'color:#3498db;background:transparent' %> else continue for joining with us</h2>

<%= render 'form', reg: @reg %>

<%= link_to 'Back', regs_path %>
<%= @cu %>