Hello Arunkumar,<br>
<p style="font-style: oblique;color: #8a1f11">

  Please check your website, Some person with  Email_id: <%= @current_user.email %> was created an event
</p>
  <p style="font-style: italic;color: #009900">Event Name: <%=  @event_name  %>
  </p>
