<h1>Editing Donate Education Material</h1>

<%= render 'form', donate_education_material: @donate_education_material %>

<%= link_to 'Show', @donate_education_material %> |
<%= link_to 'Back', donate_education_materials_path %>
