<td><%= button_to 'Donate Amount', new_mdo_path,:method => :get,class: "btn btn-large btn-success" %></td>
<td><%= button_to 'Donate Education materials', course_path,:method => :get,class: "btn btn-large btn-success" %></td>