<p id="notice"><%= notice %></p>

<p>
  <strong>Postal address:</strong>
  <%= @maa_address.postal_address %>
</p>

<%= link_to 'Edit', edit_maa_address_path(@maa_address) %> |
<%= link_to 'Back', maa_addresses_path %>
