<h1 align="center">Enter Donation Details</h1>
<h2  align="center">If you want to Donate Education materials then <%= link_to 'Click here',new_course_path,style: 'color:#3498db;background:transparent' %> else continue </h2>

<%= render 'form', mdo: @mdo %>

<%= link_to 'Back', mdos_path %>
